@mixin flexCase($justify: space-between) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
}
@mixin typography($fz: 16px, $weight: 500, $style: normal){
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: $fz;
	font-weight: $weight;
	font-style: $style;
}
