@mixin flexCase($justify: space-between) {
  display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
}
@mixin typography($fz: 16px, $weight: 400, $style: normal){
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: $fz;
	font-weight: $weight;
	font-style: $style;
}
@mixin pseudoEl($width, $height){
  display: block;
  content: "";
  position: absolute;
  width: $width;
  height: $height;
}
@mixin btn(){
  color: #ffffff;
  background-color: #00649A;
  border: 0;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
@mixin resetMar(){
	margin: 0;
	padding: 0;
}
