.breadcrumbs{
  margin: 24px 0 20px;
  &__item{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    transition: color 400ms ease;
    &:hover{
      color: $blue-color;
      transition: color 400ms ease;
    }
    &::after{
      content: "/";
      padding-left: 10px;
    }
    &--active{
      color: $top-head;
      text-decoration: underline;
      &::after{
        display: none;
      }
    }
  }

}
@media (max-width: $small-tablet) {
  .breadcrumbs{
    &__item{
      display: none;
      &:nth-last-child(1){
        display: inline;
      }
      &:nth-last-child(2){
        display: inline;
      }
    }
  }
}
