.popular-goods{
	&__title{
		@include typography(24px, 700);
		color: $top-head;
	}
}
.sales-goods{
	margin-top: 24px;
	&__title{
		@include resetMar();
		@include typography(24px, 700);
		color: $top-head;
	}
	&__moreBtn{
		@include btn();
		text-align: center;
		display: block;
		width: 216px;
		margin: 5px auto;
		padding: 12px 10px 9px;
		@include typography(14px, 400);
		&:hover{
			background-color: darken($blue-color, 10%);
		}
	}
}
.sales-catalog{
	list-style: none;
	@include resetMar();
	margin-top: 19px;
	@include flexCase();
	color: #333333;
	&__item{
		width: 220px;
		margin-bottom: 24px;
		box-sizing: border-box;
		border: 1px solid transparent;
		transition: border 500ms;
		& a {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			color: $top-head;
			transition: color 500ms;
			& img {
				margin: auto;
				height: auto;
			}
		}
		& p{
		 text-align: center;
		 padding: 0 5px;
		}
		&:hover{
			border: 1px solid $blue-color;
			transition: border 500ms;
			& a {
				color: $blue-color;
				transition: color 500ms;
			}
		}
		&:active{
			opacity: 0.6
		}
	}
	&__price{
		text-align: center;
	}
}
.popular-catalog{
	@include flexCase(flex-start);
	@include resetMar();
	list-style: none;
	color: #333333;
	&__item {
		width: 216px;
		margin-bottom: 24px;
    margin-right: 15px;
		border: 1px solid transparent;
		transition: border 500ms;
		& a {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 100%;
			color: #333333;
			transition: color 500ms;
      & img{
        margin: auto;
        height: auto;
      }
		}
		&:hover{
			border: 1px solid $blue-color;
			transition: border 500ms;
			& a {
				color: $blue-color;
				transition: color 500ms;
			}
		}
		& p {
      text-align: center;
      padding: 0 5px;
    }
	}
	&__price{
		text-align: center;
    @include typography(18px, 700);
		color: $top-head;
	}
}
// $medium-desktop: 1440px;
@media (max-width: $medium-desktop) {
	.sales-catalog{
		&__item{
			margin-right: auto;
		}
	}
	.popular-catalog{
		&__item{
			margin-right: auto;
		}
	}
}
// $small-desktop:  1280px;
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $small-tablet) {
	.sales-catalog{
		&__item{
			width: 150px;
			& img{
				height: 100%;
			}
			& p {
				font-size: 11px;
			}
		}
	}
	.popular-goods{
		&__title{
			font-size: 18px;
		}
	}
	.popular-catalog{
		&__item{
			width: 150px;
			& img{
				height: 100%;
			}
			& p {
				font-size: 11px;
			}
		}
	}
	.sale-price__item--new{
		font-size: 12px;
		& span{
			font-size: 14px;
		}
	}
	.sales-goods{
		&__title{
			font-size: 18px;
		}
	}
}
