.catalog-content{
	display: grid;
	grid-template-columns: 1fr 1160px;
}
.catalog-menu{
  &__list{
    display: none;
  }
}
.catalog-goods{
  &__title{
    @include typography(24px, 700);
    margin-top: 0;
  }
}
.catalog-menu{
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  align-self: flex-start;
  &__title{
    @include typography(16px, 700);
    text-align: left;
    display: block;
    padding: 10px 12px;
    border-bottom: 1px solid #c6c6c6;

  }
}
.submenu-catalog{
  padding: 0 12px;
  &__title{
    text-align: left;
    padding: 10px 0;
    margin: 0;
    @include typography(16px, 700);
    border-bottom: 1px solid #c6c6c6;
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;

  }
  &__items{
    border-bottom: 1px solid #c6c6c6;
    padding: 10px 0;
    & a{
      color: #6c6c6c;
      @include typography(14px, 400)
    }
    &:last-child{
      border-bottom: 0;
    }
    &--active{
      & a{
        color: $blue-color;
      }
    }
  }
}
// $medium-desktop: 1440px;
// $small-desktop:  1280px;
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $mobile) {
	.catalog-content	{
		grid-template-columns: 1fr;
	}
	.catalog-menu{
		display: none;
	}

}
