 .footer-landing{
	 background-image: url(../img/first-bg.svg);
	 background-repeat: repeat-x;
	 background-position: 0 15px;

 }
.footer-top{
	display: flex;
	justify-content: space-between;
}
.landing-rules{
	padding-left: 60px;
  position: relative;
	& a {
		display: block;
		color: #1c61ab;
		font-size: 18px;
		font-weight: 400;
		text-decoration: underline;
		padding-bottom: 15px;
	}
  &::before{
    display: block;
    content: "";
    position: absolute;
    width: 42px;
    height: 50px;
    left: 0;
    background-image: url(../img/privacy.svg);
    background-size: contain;
  }
}
.landing-contact{
	& a{
		font-size: 18px;
		font-weight: 700;
		color: #333333;
		display: block;
		padding-bottom: 15px;
	}
}
.landing-copyright{
	margin: 0 0  5px;
	font-size: 18px;
	font-weight: 400;
}
@media (max-width: $small-desktop) {
  .footer-landing{
    background-image: none;
  }
  .footer-top{
    & img {
      width: 181px;
      height: 100%
    }
  }
  .landing-rules{
    & a{
      font-size: 15px;
      padding-bottom: 10px;
    }
    &::before{
      width: 36px;
      height: 42px;
    }
  }
  .landing-contact a{
    font-size: 15px;
  }
  .landing-copyright{
    font-size: 15px;
  }
}
@media (max-width: $small-tablet) {
  .landing-rules{
    display: none;
  }
  .footer-top img{
    width: 87px;
    height: 20px;
  }
  .landing-copyright{
    display: inline-block;
    font-size: 12px;
    position: relative;
    margin-top: -20px;
  }
}
