.main-footer{
  background-color: $blue-color;
  padding-top: 25px;
  padding-bottom: 20px;
  & h2 {
    @include typography(18px, 700);
    color: $white;
  }
}
.footer-content{
  display: grid;
  grid-template-columns: 300px 600px auto;
  grid-gap: 20px;
}
.footer-catalog{
  &__list{
    @include resetMar();
  }
  &__item{
    display: inline-block;
    width: 49%;
    & a{
      @include typography(16px, 400);
      color: $white;
      line-height: 130%;
      &:hover{
        color: darken($white, 30%);
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
}
.footer-menu{
  &__list{
    list-style: none;
    @include resetMar();

  }
  &__item{
    & a{
      @include typography(16px, 400);
      color: $white;
      line-height: 130%;
      &:hover{
        color: darken($white, 30%);
      }
      &:active{
        opacity: 0.5;
      }
    }
  }
}
.footer-social{
  &__list{
    @include flexCase();
    @include resetMar();
    justify-content: flex-start;
    font-size: 0;
    list-style: none;
  }
  &__item{
    width: 35px;
    height: 35px;
    background-color: #dddddd;
    border-radius: 50%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0.6;
    background-position: 50% 50%;
    transition: all 400ms;
    &--fb{
      background-image: url(../img/facebook-f.svg);
      background-position: 70% 110%;
    }
    &--inst{
      background-image: url(../img/instagram.svg);
      background-size: 60%;
    }
    &--youtube{
      background-image: url(../img/youtube.svg);
      background-size: 60%;
    }
    & a{
      display: block;
      height: 100%;
    }
    &:hover{
      background-color: darken(#dddddd, 20%);
      transition: all 400ms;
    }
    &:active{
      opacity: .5;
      transition: all 400ms;
    }
  }

}
.footer-copyright{
  color: $white;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 40px;
  @include typography(16px, 400);
}
// $medium-desktop: 1440px;
// $small-desktop:  1280px;
@media (max-width: $small-desktop) {
  .footer-content {
		grid-template-columns: 200px 500px auto;
    grid-gap: 20px;
  }
  h2.footer-social{
    &__title{
      font-size: 16px;
    }
  }
}
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $small-tablet) {
  .footer-content {
		grid-template-columns: auto auto auto;
    grid-gap: 12px;
  }
  .footer-menu{
    display: none;
  }
  .footer-catalog{
    display: none;
  }
  .main-footer{
    padding-top: 0;
   & .footer-social{
    &__title{
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
}
.footer-copyright{
  margin-top: 0;
}
}
