.top-head{
	background-color: $top-head;
	&__content{
		@include flexCase();
		margin: 0 23px 0 12px;
		color: $white;
		font-size: 14px;

	}
}
.top-links{
	color: $white;
	display: flex;
	&__link{
		color: $white;
		padding-right: 11px;
    padding-left: 11px;
		padding-top: 10px;
		padding-bottom: 8px;
		&:hover{
			color: darken($white, 15%);
		}
		&:active{
			color: darken($white, 45%)
		}
		&--active{
			background-color: #fff;
			color: $top-head;
		}
	}
}
.region-chose{
  padding: 0;
  background-color: transparent;
  color: $white;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}
.bottom-head{
  display: grid;
  position: relative;
  grid-template-areas:
    "L M C"
    "OM S CA";
  justify-content: space-between;
  grid-template-columns: 216px 816px auto;
  row-gap: 12px;
  &__dropdown-menu{
    position: absolute;
    background-color: #fff;
    top: 130px;
    width: 100%;
    height: 640px;
    border-radius: 3px;
    border: 1px solid #333333;
  }
  &__catalog-menu{
    @include btn();
    @include typography(14px, 700);
    padding-left: 40px;
    text-align: left;
    position: relative;
		&:hover{
			background-color: darken($blue-color, 10%);
		}
    &::before{
      @include pseudoEl(15px, 15px);
      background-image: url(../img/menu_closed.svg);
      left: 13px;
    }
  }
  &__logo{
    margin-top: 12px;
		grid-area: L;
  }
  &__menu{
    display: flex;
    align-items: center;
    & a{
      color: $blue-color;
      @include typography(16px, 700);
      padding-right: 15px;
    }
  }
  &__contact{
    display: flex;
    align-items: center;
  }
  &__phone{
    color: $top-head;
    margin-left: 25px;
    padding-left: 15px;
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: -7px;
      background-image: url(../img/phone-alt.svg);
    }
  }
  &__mail{
    color: $top-head;
    padding-left: 15px;
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: -7px;
      background-image: url(../img/envelope.svg);
    }
  }
  &__search{
    display: flex;
  }
}
.users-info{
  display: flex;
  justify-content: space-between;
  &__cart{
    padding-left: 45px;
    position: relative;
    &::before{
      @include pseudoEl(35px, 33px);
      background-image: url(../img/shopping-cart-dark.svg);
      left: 0;
    }
    & p {
      @include typography(12px, 400);
      color: $top-head;
      margin: 0;
    }
    & p:first-child{
      @include typography(14px, 400);
      margin-bottom: 7px;
    }
  }
  &__lk{
    padding-left: 45px;
    position: relative;
    &::before{
      @include pseudoEl(34px, 34px);
      background-image: url(../img/user.svg);
      left: 0;
    }
    & p {
      @include typography(12px, 400);
      color: $top-head;
      margin: 0;
    }
    & p:first-child{
      @include typography(14px, 400);
      margin-bottom: 7px;
    }
  }
}
.dropdown-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  height: 100%;
  &__item{
    display: flex;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  &__title{
    margin: 0;
    font-size: 14px;
    color: $top-head;
  }
  &__content{
    margin-left: 20px;
  }
  &__list{
    margin: 0;
    padding-left: 10px;
    list-style: none;
    color: $top-head;
    & a{
      color: $top-head;
      font-size: 12px;
    }
  }
}
.search-form{
  &__input{
    border: 1px solid #c6c6c6;
    flex-grow: 1;
    padding-left: 25px;
    @include typography(14px, 400);
    &::placeholder{
      color: #c6c6c6;
    }
  }
  &__btn{
    @include btn();
    padding-left: 27px;
    padding-right: 27px;
    @include typography(16px, 700);
    border-radius: 0 3px 3px 0;
		&:hover{
			background-color: darken($blue-color, 10%);
		}
  }
}
