.top-head{
	background-color: $top-head;
	&__content{
		@include flexCase();
		margin: 0 23px 0 12px;
		color: $white;
		font-size: 14px;
	}
}
.top-links{
	color: $white;
	display: flex;
	&__link{
		color: $white;
		padding-right: 11px;
    padding-left: 11px;
		padding-top: 10px;
		padding-bottom: 8px;
		&:hover{
			color: darken($white, 15%);
		}
		&:active{
			color: darken($white, 45%);
		}
		&--active{
			background-color: #fff;
			color: $top-head;
			font-weight: 500;
			&:hover{
				color: lighten($top-head, 20%);
			}
			&:active{
				color: lighten($top-head, 35%);
			}
		}
	}
}
.region-chose{
  padding: 0;
  background-color: transparent;
  color: $white;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
	@include typography(14px, 400);
}
.bottom-head{
  display: grid;
  position: relative;
  grid-template-areas:
    "L M C"
    "OM S CA";
  justify-content: space-between;
  grid-template-columns: 216px 816px auto;
  row-gap: 12px;
	&__text{
		&--mobile{
			display: none;
		}
	}
	&__menu-mobile{
		display: none;
	}
  &__dropdown-menu{
    position: absolute;
    background-color: #fff;
    display: none;
    top: 130px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #333333;
		z-index: 10;
    &--show{
      display: block;
    }
  }
  &__catalog-menu{
    @include btn();
    @include typography(14px, 700);
    padding-left: 40px;
    text-align: left;
    position: relative;
		max-height: 40px;
		&:hover{
			background-color: darken($blue-color, 10%);
		}
		& .bottom-head__menu-btn{
			position: absolute;
			display: inline-block;
			width: 17px;
			height: 3px;
			background-color: #fff;
			top: 17px;
			left: 13px;
			transition: transform, background-color 400ms ease;
			&::before{
				@include pseudoEl(17px, 3px);
				top: -6px;
				background-color: #fff;
				transform-origin: 0 0;
				transition: transform 400ms ease;
			}
			&::after{
				@include pseudoEl(17px, 3px);
				top: 6px;
				background-color: #fff;
				transform-origin: 0 0;
				transition: transform 400ms ease;
			}
			&--closed{
				background-color: transparent;
				transition: transform, background-color 400ms ease;
				&::before{
					transform: rotate(45deg);
					transform-origin: 0 0;
					transition: transform  400ms ease;
				}
				&::after{
					transform: rotate(-45deg) translateX(-1.5px) translateY(-1.5px);
					transform-origin: 0 0;
					transition: transform 400ms ease;
				}
			}

		}
  }
  &__logo{
    margin-top: 12px;
		grid-area: L;
  }
  &__menu{
    display: flex;
    align-items: center;
    & a{
      color: $blue-color;
      @include typography(16px, 700);
      margin-right: 15px;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -3px;
				width: 0;
				height: 2px;
				background-color: $blue-color;
				transition: all .3s ease;
				z-index: 1;
			}
			&:hover{
				&::after{
					width: 100%;
				}
			}
    }
  }
  &__contact{
    display: flex;
    align-items: center;
  }
  &__phone{
    color: $top-head;
    margin-left: 25px;
    padding-left: 15px;
    position: relative;
		opacity: 1;
		transition: opacity 400ms ease;
    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: -7px;
      background-image: url(../img/phone-alt.svg);
    }
		&:hover{
			opacity: .6;
			transition: opacity 400ms ease,
		}
  }
  &__mail{
    color: $top-head;
    padding-left: 15px;
    position: relative;
    &::before{
      display: block;
      content: "";
      position: absolute;
      width: 16px;
			opacity: 1;
      height: 16px;
      top: 2px;
      left: -7px;
      background-image: url(../img/envelope.svg);
			transition: opacity 400ms ease,
    }
		&:hover{
			opacity: .6;
			transition: opacity 400ms ease,
		}
  }
  &__search{
    display: flex;
		max-height: 40px ;
  }
}
.users-info{
  display: flex;
  justify-content: space-between;
	max-width: 325px;
	& p.users-info__name{
		font-size: 14px;
	}
  &__cart{
    padding-left: 45px;
    position: relative;
    &::before{
      @include pseudoEl(35px, 33px);
      background-image: url(../img/shopping-cart-dark.svg);
      left: 0;
    }
    & p {
      @include typography(12px, 400);
      color: $top-head;
      margin: 0;
    }
    & p:first-child{
      @include typography(14px, 400);
      margin-bottom: 7px;
    }
  }
  &__lk{
    padding-left: 45px;
    position: relative;
    &::before{
      @include pseudoEl(34px, 34px);
      background-image: url(../img/user.svg);
      left: 0;
    }
    & p {
      @include typography(12px, 400);
      color: $top-head;
      margin: 0;
    }
    & p:first-child{
      @include typography(14px, 400);
      margin-bottom: 7px;
    }
  }
}
.cart-icon{
  position: absolute;
  background-color: $blue-color;
  color: #ffffff;
  width: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 23px;
}
.lk-icon{
  position: absolute;
  background-color: $blue-color;
  color: #ffffff;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
  width: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 23px;
}
.dropdown-menu{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: 100%;
  &__item{
    display: flex;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 10px;
		& img{
			object-fit: cover
		}
  }
  &__title{
    margin: 0;
    font-size: 14px;
    color: $top-head;
  }
  &__content{
    margin-left: 20px;
  }
  &__list{
    margin: 0;
    padding-left: 10px;
    list-style: none;
    color: $top-head;
    & a{
      color: $top-head;
      font-size: 12px;
    }
  }
}
.search-form{
  &__input{
    border: 1px solid #c6c6c6;
    flex-grow: 1;
    padding-left: 25px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
    @include typography(14px, 400);
    &::placeholder{
      color: #c6c6c6;
    }
  }
  &__btn{
    @include btn();
    padding-left: 27px;
    padding-right: 27px;
    @include typography(14px, 700);
    border-radius: 0 3px 3px 0;
		&:hover{
			background-color: darken($blue-color, 10%);
		}
  }
}
.top-links-mobile{
	display: none;
}
.mobile-open-menu-btn{
	display: none;
}
// $medium-desktop: 1440px;
@media (max-width: $medium-desktop) {
  .bottom-head{
    grid-template-columns:  auto auto auto;
    &__menu {
      & a {
        font-size: 14px;
      }
    }
  }
	.dropdown-menu{
		&__item{
			width: 290px;
			margin-right: 20px;
		}
	}
}
// $small-desktop:  1280px;
@media (max-width: $small-desktop) {
  .bottom-head{
		grid-template-columns: auto  auto 480px auto;
		grid-template-areas: "L CA S U"
												"CM CM CM UI";
												padding-top: 24px;
	&__mail{
		display: none;
	}
	&__dropdown-menu{
		&--show{
			top: 80px;
		}
	}
	&__text{
		display: none;
		&--mobile{
			display: block;
		}
	}
	&__logo{
		margin-top: 0;
		& img{
			height: 100%;
			grid-area: L;
			width: 168px;
		}
	}
	&__catalog-menu{
		grid-area: CA;
	}
	&__user{
		grid-area: U;
		width: 150px;
		margin-left: auto;
	}
	.users-info__cart{
		& p {
			display: none;
		}
	}
	.users-info__lk{
		& p {
			display: none;
		}
	}
	&__menu{
		grid-area: CM;
		justify-content: space-around;
	}
	&__contact{
		grid-area: UI
	}
	&__search{
		grid-area: S;
	}
}
.cart-icon{
	left: 18px;
}
.lk-icon{
	left: 16px
}
.users-info__cart{
	&::before{
		width: 27px;
		height: 25px;
		left: 0;
		background-size: contain;
	}
}
.users-info__lk{
	&::before{
		width: 25px;
		height: 25px;
		background-size: contain;
	}
}
	.bottom-head .users-info__cart .users-info__first{
			display: block;
			font-size: 12px;
			font-weight: 400;
			position: absolute;
			top: 28px;
			left: -5px;
			height: 12px;
			overflow: hidden;
}
	.bottom-head .users-info__lk	.users-info__name{
		display: block;
		font-size: 12px;
		font-weight: 400;
		position: absolute;
		top: 28px;
		left: -20px;
		max-height: 28px;
		overflow: clip;
	}
	.search-form__btn{
		font-size: 16px;
	}
}
// $large-tablet: 1023px;
@media (max-width: $large-tablet) {
  .bottom-head{
    grid-template-columns:  auto auto auto;
		font-size: 12px;
		&__dropdown-menu{
			top:70px;
		}
		&__logo{
			& img{
				width: 128px;
				height: auto;
			}
		}
		&__user{
			width: auto;
		}
	}
	.bottom-head__menu a{
		font-size: 11px;
	}
	.bottom-head__catalog-menu{
		font-size: 12px;
	}
	.search-form__btn{
		font-size: 12px;
	}
	.search-form__input{
		font-size: 12px;
	}
	.bottom-head .users-info__cart .users-info__first, .bottom-head .users-info__lk .users-info__name{
		display: none;
	}
	.bottom-head__catalog-menu .bottom-head__menu-btn{
		top: 15px;
	}
}

// $small-tablet: 700px;
@media (max-width: $small-tablet) {
  .top-links {
		display: none;
  }
	.dropdown-menu{
		&__img{
			width: 45px;
			height: 45px;
		}
		&__list{
			display: none;
      & li{
        padding: 6px 0;
      }
      &--show{
        display: block;
      }
		}
		&__item{
			width: 100%;
		}
		&__content{
			margin-left: 30px;
      flex-grow: 1;
      position: relative;
      padding-right:  30px;
      &::after{
        @include pseudoEl(17px, 19px);
        background-image: url(../img/chevron-down.svg);
        right: 0;
        top: 5px;
        background-repeat: no-repeat;
      }
		}
		&__title{
			font-size: 16px;
			font-weight: 700;
			margin-top: 7px;
      padding-bottom: 10px;
			cursor: pointer;
		}
	}
	.top-head__content{
		margin: 0
	}
	.top-links-mobile{
		display: block;
		position: relative;
		&__link{
			color: #333333;
			display: block;
			font-size: 14px;
			font-weight: 500;
			background-color: #fff;
			padding: 6px 35px 6px 10px;
			position: relative;
			border-right:  1px solid #333333;
			border-left: 1px solid #333333;
			&::after{
				@include pseudoEl(11px, 16px);
				top: 3px;
				right: 15px;
				background-image: url(../img/sort-down-solid.svg);
				background-repeat: no-repeat;
			}
		}
	}
	.top-links-mobile-dropdown{
		display: none;
		position: absolute;
		&--show{
			display: block;
			background-color: #fff;
			z-index: 1;
			width: 100%;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			border: 1px solid #333333;
			border-top: none;
			padding: 8px 13px 5px;
		}
		&__link{
			display: block;
			padding: 7px 0;
			color: $top-head;
			border-bottom: 1px solid #c6c6c6;
			&:last-child{
				border-bottom: none;
			}
			&:first-child{
				border-top: 1px solid #c6c6c6;
			}
		}
	}
	.bottom-head{
		grid-template-areas: "L L CA BTN"
												"CM S S S";
		grid-template-columns: 95px auto auto auto;
		&__dropdown-menu{
			top: 130px;
		}
		&__menu{
			display: none;
      border-top: 1px solid #232323;
      border-bottom: 1px solid #232323;
			&--show{
				display: block;
				position: absolute;
				width: 100%;
				z-index: 5;
				grid-area: unset;
				top: 80px;
				background-color: #fff;
				padding: 10px 20px;
				& a {
					display: block;
					font-size: 16px;
					color: $top-head;
					padding: 20px 0;
					border-bottom: 1px solid #c6c6c6;
          transition: 500ms;
          &:hover{
            color: $blue-color;
            transition: 500ms;
          }
          &::after{
            display: none;
          }
				}
			}
			&-mobile{
				display: block;
        padding-bottom: 20px;
        & a {
          border-bottom: 0;
        }
			}
		}

		&__contact{
			display: none;
		}
		&__catalog-menu{
			grid-area: CM;
			margin-right: 10px;
			padding-left: 30px;
		}
		&__search{
			grid-area: S;
		}
		&__logo{
      height: 44px;
      line-height: 44px;
			& img{
				width: 150px;
				height: 34px;
        vertical-align: bottom;
			}
		}
		&__text{
			display: none;
			&--mobile{
				display: block;
				@include typography(12px, 700);
			}
		}
	}
	.mobile-open-menu-btn{
		display: block;
		grid-area: BTN;
	}
	.users-info{
		grid-area: CA;
		margin-top: 12px;
		& p {
			display: none;
		}
		&__cart::before{
			width: 35px;
			height: 33px;
		}
		&__lk::before{
			width: 34px;
			height: 34px;
		}
	}
	.search-form__btn{
		font-size: 0;
		padding-left: 17px;
		padding-right: 17px;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-size: 50%;
		background-position: 50% 50%;

	}
	.search-form__input{
		font-size: 12px;
		padding: 7px 10px;
	}
	.mobile-open-menu-btn{
		margin-top: 12px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		width: 34px;
		height: 32px;
		padding: 0;
		background-image: url(../img/btn-mobile.png);
	}
	.bottom-head__catalog-menu .bottom-head__menu-btn{
		width: 14px;
		height: 2px;
		top: 14px;
		left: 7px;
		&::before{
			width: 14px;
			height: 2px;
			top: -5px;
		}
		&::after{
			width: 14px;
			height: 2px;
			top: 5px;
			}
		}
	.bottom-head__catalog-menu .bottom-head__menu-btn--closed{
		&::after{
		// transform: rotate(45deg) translateX(-1px) translateY(-1px);
			}
}
 .bottom-head .bottom-head__mail{
   padding-left: 30px;
   &::before{
     top: 20px;
     left: 5px;
   }
 }
  .bottom-head .bottom-head__phone{
    padding-left: 30px;
    margin-left: 0;
    &::before{
      top: 20px;
      left: 5px;
    }
  }
}
// $mobile:  500px;
