.header-landing{
	padding: 24px 0 0;
}
.landing-menu{
	display: flex;
	align-items: center;
	&__item{
		margin-right: 25px;
		color: $top-head;
		font-size: 18px;
		font-weight: 700;
		transition: color 300ms;
		&:hover{
			color: lighten($top-head, 30%);
			transition: color 300ms;
		}
	}
}
.landing-user{
	display: flex;
	align-items: center;
	&__login{
		margin-right: 25px;
		color: #333333;
		font-size: 18px;
		font-weight: 700;
		&:hover{
			color: lighten($top-head, 30%);
			transition: color 300ms;
		}
	}
	&__reg{
		padding: 15px 50px;
		border-radius: 5px;
		background-color: #1b60ab;
		color: #fff;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
		transition: background-color 300ms;
		&:hover{
			background-color: lighten(#1b60ab, 10%);
			transition: background-color 300ms;
		}
	}
}
@media (max-width: $small-desktop) {
	.landing-menu{
		& img{
			width: 180px;
			height: 100%;
		}
		&__item{
			font-size: 15px;
		}
	}
	.landing-user{
		&__login{
			font-size: 15px;
		}
		&__reg{
			font-size: 15px;
			padding: 12px 45px;
		}
	}
}
@media (max-width: $large-tablet) {
	.landing-menu{
		&__item{
			font-size: 12px;
			margin-right: 10px;
			& img{
				width: 120px;
			}
		}
	}
	.landing-user{
		&__login{
			font-size: 12px;
			margin-right: 10px;
		}
		&__reg{
			font-size: 12px;
			padding: 12px 15px;
		}
	}
}
@media (max-width: $small-tablet) {
	.landing-menu{
		& img{
			width: 148px;
			height: 34px;
		}
		&__item{
			display: none;
			&:first-child{
				display: block;
				margin-right: 20px;
			}
		}
	}
	.landing-user{
		&__login{
			font-size: 14px;
			margin-right: 16px;
		}
		&__reg{
			font-size: 14px;
			padding: 10px;
		}
	}
}
