.landing-banner{
	padding-top: 60px;
	text-align: center;
	position: relative;
	&__title{
		margin-top: 0;
		margin-left: 140px;
		margin-right: 140px;
		color: #1b60ab;
		font-size: 48px;
		font-weight: 700;
		margin-bottom: 0;
	}
	&__text{
		font-size: 18px;
		font-weight: 400;
		margin-top: 50px;
		margin-bottom: 60px;
	}
	&__img{
		border-radius: 25px;
		border: 18px solid #333333;
	}
	&::before{
		display: block;
		position: absolute;
		content: "";
		width: 50%;
		height: 272px;
		background-image: url(../img/first-bg.svg);
		left:0;
		top:540px;
		z-index: -1;
	}
	&::after{
		display: block;
		position: absolute;
		content: "";
		width: 50%;
		height: 272px;
		background-image: url(../img/second-bg.svg);
		right: 0;
		top:540px;
		z-index: -1;
	}
}
.landing-about{
	padding-top: 60px;
	padding-bottom: 50px;
	&__title{
		font-size: 48px;
		font-weight: 700;
		color: $landing-red;
		text-align: center;
		margin-top: 0;
		margin-bottom: 50px;
	}
	&__text{
		font-family: Roboto;
		font-size: 18px;
		font-weight: 500;
		line-height: 120%;
		margin: 0 120px;
		text-align: center;
	}
}
.landing-advantages{
	&__title{
		margin-top: 0;
		color: #1b60ab;
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 0;
	}
}
.advantages-list{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content:  space-between;
	&__item{
		flex-basis: 49%;
		border-radius: 5px;
		border: 3px solid #1b60ab;
		margin-bottom: 50px;
		padding: 25px;
	}
	&__title{
		margin: 0;
		color: #1b60ab;
		font-size: 30px;
		font-weight: 700;
	}
}
.advantages-content{
	margin-top: 35px;
	padding: 0;
	list-style: none;
	margin-bottom: 40px;
	& li{
		padding-left: 25px;
		font-size: 18px;
		font-weight: 500;
		line-height: 30px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 20px;
			height: 19px;
			display: block;
			background-image: url('../img/check-adv.svg');
			background-repeat: no-repeat;
			left: 0;
			top: 5px;
		}
	}
}
.landing-advantages-banner{
	padding: 60px 45px 55px;
	border-radius: 25px;
	background-color: $landing-red;
	& p {
		margin: 0;
		color: #ffffff;
		font-size: 48px;
		font-weight: 700;
	}
}
.landing-faq{
	&__title{
		color: #1b60ab;
		font-size: 48px;
		font-weight: 700;
		text-align: center;
	}
	&__text{
		font-size: 18px;
		font-weight: 700;
		padding-left: 25px;
	}
}
.landing-tabs{
	height: 50px;
	overflow: hidden;
	border-radius: 5px;
	border: 2px solid #1b60ab;
	padding: 0 25px 15px;
	margin-bottom: 18px;
	&__btn{
		padding-top: 15px;
		display: block;
		width: 100%;
		padding-right: 30px;
		position: relative;
		background-color: transparent;
		border: 0;
		padding-left: 0;
		text-align: left;
		color: #333333;
		font-size: 18px;
		font-weight: 700;
		cursor: pointer;
			&::before{
				position: absolute;
				display: block;
				content: "";
				background-color: #333333;
				top: 22px;
				right: -6px;
				width: 16px;
				height: 4px;
			}
			&::after{
				position: absolute;
				display: block;
				content: "";
				background-color: #333333;
				top: 16px;
				right: 0px;
				height: 16px;
				width: 4px;
				transition: transform 400ms
			}
			&--open{
				&::after{
					position: absolute;
					display: block;
					content: "";
					background-color: #333333;
					top: 16px;
					right: 0px;
					height: 16px;
					width: 4px;
					transform: rotate(90deg);
					transition: transform 400ms;
				}
			}
	}
}
.landing-gallery{
	padding-top: 40px;
	&__title{
		font-size: 48px;
		font-weight: 700;
		color: $landing-red;
		text-align: center;
		margin-top: 0;
	}
}
.gallery-choise{
	@include flexCase();
	align-items: center;
	& div{
		flex-basis: 24%;
		text-align: center;
		margin-bottom: 45px;
	}
}
@media (max-width: $small-desktop) {
	.landing-banner{
		padding-top: 50px;
		&__title{
			font-size: 40px;
		}
		&__text{
			margin-top: 40px;
			margin-bottom: 50px;
			font-size: 15px;
		}
	}
	.landing-banner::after, .landing-banner::before{
		top: 455px;
	}
	.landing-about{
		padding-top: 50px;
		padding-bottom: 40px;
		&__title{
			font-size: 40px;
		}
		&__text{
			font-size: 15px;
			margin: 0 110px;
		}
	}
	.landing-advantages{
		&__title{
			font-size: 40px;
		}
	}
	.advantages-list{
		margin-top: 40px;
		&__item{
			padding: 20px;
		}
		&__title{
			font-size: 25px;
		}
	}
	.advantages-content{
		margin-bottom: 20px;
		& li{
			font-size: 15px;
			line-height: 25px;
		}
	}
	.landing-advantages-banner p{
		font-size: 40px;
	}
	.landing-faq{
		&__title{
			font-size: 40px;
		}
		&__text{
			font-size: 15px;
		}
	}
	.landing-tabs{
		&__btn{
			font-size: 15px;
		}
		&__text{
			font-size: 15px;
		}
	}
	.landing-gallery{
		&__title {
			font-size: 40px;
		}
	}
	.gallery-choise{
		& div{
			flex-basis: 21%;
		}
		&__img{
			height: 100%;
		}
	}
}
@media (max-width: $small-tablet) {
  .landing-banner{
    padding-top: 15px;
    &__title{
      margin: 0;
      font-size: 18px;
    }
    &__text{
      margin: 20px 0;
      font-size: 14px;
    }
		&__img{
			width: 250px;
			border-radius: 10px;
			border: 6px solid #333;
			box-sizing: border-box;
		}
		&::before{
			height: 72px;
			background-size: contain;
			top: 210px;
		}
		&::after{
			height: 72px;
			background-size: contain;
			top: 210px;
		}
	}
	.landing-about{
		&__title{
			font-size: 18px;
			margin-bottom: 15px;
		}
		&__text{
			margin: 0;
			font-size: 12px;
			line-height: 16px;
		}
	}
	.landing-advantages{
		&__title{
			font-size: 18px;
			margin: 0 20px;
		}
	}
	.advantages-list{
		&__item{
			flex-basis: 100%;
			margin-bottom: 20px;
			position: relative;
			z-index: 3;
			background-color: #fff;
			&::after{
				display: block;
				content: "";
				height: 72px;
				width: 50%;
				position: absolute;
				background-image: url(../img/second-bg.svg);
				background-size: contain;
				top: 20px;
				z-index: -1;
			}
		}
		&__title{
			font-size: 18px;
		}
	}
	.advantages-content{
		margin-top: 20px;
		margin-bottom: 0;
		& li {
			font-size: 14px;

		}
	}
	.landing-advantages-banner{
		padding: 30px 12px;
		& p {
			font-size: 18px;
			line-height: normal;

		}
	}
	.landing-faq{
		&__title{
			font-size: 18px;
			margin-top: 45px;
		}
		&__text{
			padding-left: 0;
			font-size: 14px;
		}
	}
	.landing-tabs{
		padding: 0 12px 15px;
		&__btn{
			font-size: 14px;
			padding: 10px 20px 10px 10px;
		}
	}
	.landing-gallery{
		&__title{
			font-size: 18px;
		}
	}
	.gallery-choise{
		& div{
			flex-basis: 26%;
		}
	}
}
