.product-page{
	display: grid;
	grid-template-columns: 1fr 1fr;
	&__title{
		margin: 0;
		@include typography(30px, 700);
	}
  &__slider{
    width: 700px;
    position: relative;
    display: flex;
  }
}
.product-content{
	grid-column: 1 / 3;
}
.product-top{
	display: flex;
	justify-content: space-between;
	padding: 15px 0 30px;
	border-bottom: 1px solid #c6c6c6;
	&__brand{
		@include typography(16px, 400);
	}
	&__promo{
		@include typography(16px, 400);
		color: #727272;
	}
}
.table-order{
	width: 100%;
	margin-top: 40px;
	& th{
		@include typography(12px, 400);
		color: #666666;
		text-align: center;
    padding-bottom: 5px;
		&:first-child{
			text-align: left;
		}
	}
	& td{
		@include typography(14px, 400);
		text-align: center;
		&:first-child{
			text-align: left;
		}
	}
	& tr td {
		padding: 5px 0 5px 5px;
	}
  & tr td:first-child{
    width: 35%;
  }
  & tr td:nth-child(2){
    width: 15%;
  }
  & tr td:nth-child(3){
    width: 30%;
  }

}
.add-cart-block{
	&__bottom{
		@include flexCase();
	}
}
.goods-more-btn{
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  padding: 10px 35px 10px 12px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
}
.add-cart-block{
  margin-top: 45px;
  &__top{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
  }
}
.cart-block{
  &__quantity {
    margin: 0;
    align-self: center;
    @include typography(24px, 400)
  }
  &__price{
    margin: 0;
    align-self: center;
    @include typography(24px, 500)
  }
  &__add-btn{
    @include btn();
    color: $white;
    padding: 15px 45px;
    @include typography(18px, 500);
		transition: all 300ms;
		&:hover{
			background-color: darken($blue-color, 10%);
			transition: all 300ms;
		}
		&:active{
			opacity: 0.5;
			transition: all 300ms;
		}
  }
}
.product-content{
  padding-top: 20px;
  & ul {
    padding-left: 0;
    list-style-position: inside;
  }
}
.product-tabs{
  &__tab{
    background-color: transparent;
    border:0;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin-right: 80px;
		&--active{
			border-bottom: 2px solid #00649a;
		}
  }
}
.counter-goods{
  width: 140px;
  margin: auto;
  display: flex;
  & input{
    width: 75px;
    border: 1px solid #c6c6c6;
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: none;
    text-align: center;
  }
  &__minus{
    width: 35px;
    line-height: 35px;
    border: 1px solid #c6c6c6;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right: 0;
  }
  &__plus{
    width: 35px;
    line-height: 35px;
    border: 1px solid #c6c6c6;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 0;
  }
}
// $medium-desktop: 1440px;
// $small-desktop:  1280px;
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $mobile) {
	.product-page{
		grid-template-columns: 320px;
		&__slider{
			width: 100%;
			flex-wrap: wrap;
			height: 400px;
		}
		&__title{
			display: none;
		}
	}
	.product-content{
		grid-column: 1/1;
	}
	.product-top{
		&__promo{
			display: none;
		}
	}
	.table-order{
		& tr{
			display: flex;
			flex-wrap: wrap;
		& th{
			display: none;
			&:first-child{
				display: table-cell;
			}
		}
		& td:first-child{
			width: 100%;
		}
	}
	}
}
