.product-page{
	display: grid;
	grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
	&__title{
		margin: 0;
		@include typography(30px, 700);
	}
  &__slider{
    width: 700px;
    position: relative;
    display: flex;
  }
}

.product-top{
	display: flex;
	justify-content: space-between;
	padding: 15px 0 30px;
	border-bottom: 1px solid #c6c6c6;
	&__brand{
		@include typography(16px, 400);
	}
	&__promo{
		@include typography(16px, 400);
		color: #727272;
	}
}
.table-order{
	width: 100%;
	margin-top: 40px;
	& th{
		@include typography(12px, 400);
		color: #666666;
		text-align: center;
    padding-bottom: 5px;
		&:first-child{
			text-align: left;
		}
	}
	& td{
		@include typography(14px, 400);
		text-align: center;
		&:first-child{
			text-align: left;
		}
	}
	& tr td {
		padding: 5px 0 5px 5px;
	}
  & tr td:first-child{
    width: 17%;
  }
  & tr td:nth-child(2){
    width: 25%;
  }
  & tr td:nth-child(3){
    width: 13%;
  }

}
.add-cart-block{
	&__bottom{
		@include flexCase();
	}
}
.goods-more-btn{
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
  padding: 10px 35px 10px 12px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
	position: relative;
	&::after {
		position: absolute;
		@include pseudoEl(15px, 17px);
		background-image: url(../img/chevron-down.svg);
		right: 9px;
		background-repeat: no-repeat;
		top: 9px;
		opacity: 0.8

	}
}
.add-cart-block{
  margin-top: 45px;
  &__top{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
  }
}
.cart-block{
  &__quantity {
    margin: 0;
    align-self: center;
    @include typography(24px, 400)
  }
  &__price{
    margin: 0;
    align-self: center;
    @include typography(24px, 500)
  }
  &__add-btn{
    @include btn();
    color: $white;
    padding: 15px 45px;
    @include typography(18px, 500);
		transition: all 300ms;
		&:hover{
			background-color: darken($blue-color, 10%);
			transition: all 300ms;
		}
		&:active{
			opacity: 0.5;
			transition: all 300ms;
		}
  }
}
.product-content{
  padding-top: 20px;
  grid-column: 1 / 3;
  margin-top: 20px;
  & ul {
    padding-left: 0;
    list-style-position: inside;
  }
}
.product-tabs{
  &__tab{
    background-color: transparent;
    border:0;
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin-right: 80px;
		&--active{
			border-bottom: 2px solid #00649a;
		}
  }
	& div{
		display: none;
	}
	& .show-tab{
		display: block;
	}
}
.counter-goods{
  width: 140px;
  margin: auto;
  display: flex;
  & input{
    width: 75px;
    border: 1px solid #c6c6c6;
    padding-top: 9px;
    padding-bottom: 9px;
    box-shadow: none;
    text-align: center;
  }
  &__minus{
    width: 35px;
    line-height: 35px;
    border: 1px solid #c6c6c6;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right: 0;
		color: $top-head;
  }
  &__plus{
    width: 35px;
    line-height: 35px;
    border: 1px solid #c6c6c6;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 0;
		color: $top-head;
  }
}
// $medium-desktop: 1440px;
// $small-desktop:  1280px;
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $small-desktop) {
  .cart-block__add-btn{
    margin: 10px auto;
  }
  .product-page__slider{
    width: 500px;
  }
	.table-order td{
		font-size: 11px;
	}
}
@media (max-width: $large-tablet) {
	.product-page{
		grid-template-columns: 650px;
		&__slider{
			width: 100%;
			flex-wrap: wrap;
			height: 400px;
		}
		&__title{
			display: none;
		}
	}
	.product-content{
		grid-column: 1/1;
		font-size: 12px;
		& iframe{
			width: 320px;
			height: 185px;
		}
	}
	.product-top{
		border-bottom: 0;
		padding-bottom: 15px;
		&__promo{
			display: none;
		}
	}
	.table-order{
		margin-top: 0;
		& tr{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 10px;
			border-bottom: 1px solid #c6c6c6;;
			& th{
				display: none;
				&:first-child{
					display: table-cell;
				}
			}
			& td:first-child{
				width: 50%;
			}
			& td:nth-child(2){
				width: 50%;
				text-align: right;
			}
			& td{
				font-size: 12px;
			}
		}
	}
	// .table-order tr td:nth-child(2) {
  //   width: 20%;
	// 	text-align: left;
	// }
	.table-order tr td:nth-child(3) {
    width: 30%;
		text-align: left;
	}
	.table-order tr td:nth-child(4) {
		width: 30%;
		text-align: center;
	}
	.table-order tr td:nth-child(5) {
		width: 40%;
	}
	.counter-goods{
		width: 110px;
		margin-left: auto;
		margin-right: 0;
		& input{
			width: 50px;
			font-size: 12px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.table-order tr td {
    padding: 5px 0 15px 5px;
}
.goods-more-btn{
	margin: 10px auto;
	display: block;
	width: 295px;
}
.add-cart-block{
	margin-top: 10px;
}
.cart-block{
	&__add-btn{
		margin: 20px auto;
	}
	&__price{
		flex-basis: 60%;
		text-align: right;
	}
}
.product-tabs{
	&__tab{
		font-size: 16px;
		margin-right: 24px;
		&:nth-child(3){
			margin-right: 0;
		}
	}
}
}
@media (max-width: $small-tablet) {
  .product-page {
    grid-template-columns: 460px;
  }
}
@media (max-width: $mobile) {
	.product-page{
		grid-template-columns: 320px;
	}
}
