.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-button-next, .swiper-button-prev {
	color: #ededed;
}
.swiper-pagination-bullet {
    background-color: #ededed;
    opacity: .4;
		&-active{
			background-color: #fff;
			opacity: 1;
		}
}


.product-page {
  & .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  & .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  & .gallery-top {
    height: 100%;
    width: 80%;
    order: 2;
  }
  & .gallery-thumbs {
    width: 20%;
    order: 1;
    align-self: center;
    box-sizing: border-box;
    padding: 10px 0;
  }
  & .gallery-thumbs .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: contain;
    background-repeat: no-repeat;
  }
  & .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
}
.sales-block-mobile{
	display: none;
}
// $medium-desktop: 1440px;
// $small-desktop:  1280px;
// $large-tablet: 1025px;
// $small-tablet: 700px;
// $mobile:  500px;
@media (max-width: $mobile) {
	.sales-block-mobile{
		display: block;
		&__items{
			padding: 0;
		}
		&__item{
			&--green{
				background-color: #009a59;
			}
			&--muar{
				background-color: #009a9a;
			}
			&--violet{
				background-color: #953ebd;
			}
		}
		&__text{
			color: white;
			font-size: 14px;
			flex-basis: 50%;
		}
		&__img{
			flex-basis: 50%;
			padding: 10px;
		}
	}
}
